@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "_AccountLayout";
}

<div class="d-flex justify-content-center centralizer">
    <div class="me-2 flex-column bem-vindo">
        <div class="mb-4 text-center">
            <h1 class="escreve">Registre-se no</h1>
            <h1 class="text-center escreve escreve2">Vanadium</h1>
        </div>
        <div class="d-flex justify-content-center">
            <img src="/img/books.gif" id="gifLivros" alt="" />
        </div>
    </div>

    <form class="ms-2 cardFlat flex-shrink-1">
        <div class="mb-3 iconeUsuario d-flex justify-content-center">
            <img src="/img/stacked-peaks-haikei.svg" id="imgUsuario" alt="" />
        </div>
        <div class ="mb-3 d-flex justify-content-between align-items-center">
            <i style="width: 14px;" class="fa-regular fa-images me-4"></i>
            <input onclick="mostraImagem(this)" class="bars-form" type="file" id="formFile">
        </div>
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-user me-4"></i>
            <input type="email" class="bars-form" id="exampleInputEmail1" placeholder="Insira seu Email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-lock me-4"></i>
            <input type="password" class="bars-form" placeholder="Insira sua senha" id="exampleInputPassword1">
        </div>
        <div class="mt-5">
            <button type="submit" class="btn ocup">Cadastra-se</button>
        </div>
    </form>
</div>
