@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "_AccountLayout";
}


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="me-2 flex-column bem-vindo">
			<div class="mb-4 text-center">
			    <h1 class="escreve">Entrar no</h1>
                <h1 class="text-center escreve escreve2">Vanadium</h1>
            </div>
            <div class="d-flex justify-content-center">
				<img src="/img/books.gif" id="gifLivros" alt="" />
            </div>
        </div>

        <form action="/Account/Login" method="post" class="ms-2 cardFlat flex-shrink-1">
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <i class="fa-solid fa-user me-4"></i>
                <input type="email" name="email" value="@Model.Email" class="bars-form" id="exampleInputEmail1" placeholder="Insira seu Email" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <i class="fa-solid fa-lock me-4"></i>
                <input type="password" name="password" value="@Model.Password" class="bars-form" placeholder="Insira sua senha" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn ocup">Logar</button>
            </div>
            <div class="d-flex flex-column text-center">
			    <a href="">Esqueceu a senha?</a>
				<a href="/Account/Register">Não possui um cadastro?</a>
            </div>
        </form>
    </div>
    

}
